@font-face {
    font-family: "Supercell-Magic";
    src: url("Supercell-magic-webfont.x-font-ttf") format("truetype"); 
    font-style: normal;
    font-weight: normal;
}
* {
    scroll-behavior: smooth;
    font-family: "Supercell-Magic";
}
h1{
    margin: 60px auto;
    text-align: center;
    font-size: 40px;
}
p{
    font-size: 20px;
}
body{
    margin: 0;
    background-image: url("back.png");
}
header{
    margin: 10px auto;
}
nav{
    margin: auto;
    background-color: #2777a5;
    width: 80%;
    border-radius: 10px;
}
.navig{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.theme_1{
    margin: 20px 4%;
    width: 92%;
    border-radius: 7%;
}
.block_1{
    margin: 20px auto;
    width: 98%;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.text{
    padding: 10px;
    width: 50%;
}
.split{    
    border-radius: 7%;
    padding: 5px 0;
}
.img_1{
    border-radius: 5%;
    width: 45%;
}
a{
    font-size: 22px;
    color:rgb(28, 28, 158)
}
a:hover{
    color:rgb(77, 20, 100);
}
footer{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img_2{
    width:100px;
    border-radius: 10%;
    margin: auto;
}
.img_2:hover{
    
}
.feet{
    color: cornsilk;
}